extends layout

block content
  h1 Prufa!
  each val in recipe
    div.recipe
      h2= val.recipeName
      img(src= val.smallImageUrls)
      p=val.ingredients
      p=val.attributes.course
      p=val.attributes.cuisine